/* global styles */

body {
  background-color: #f2f2f2;
  font-size: 100%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
  margin: 0 auto !important;
  float: none !important;
  padding: 1rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}


/* grid styles */

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
}


.column {
  --columns: 12; /* number of columns in the grid system */
  --width: var(--width-mobile, 0); /* width of the element */

  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 10px;
  flex-basis: calc(var(--width) / var(--columns) * 100%);
}


.card{
text-align:left;
padding:1rem;
background-color: #fff;
border-radius: 10px;
margin: 0px 5px 15px 5px;
width:98%;
display: inline-table;
}

.card img{
width:100%;
height:auto;
padding:10px;
background-color:#f2f2f2;
}


.card p{
  font-size: .9rem;
}

.filterWrapper{
    background-color: #fff;
    border-radius: 10px;

}

.filterOption{
    width: 40%;
    display: inline-block;
    text-align: center;
    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.lightGreen{
    background-color: #c5e09b;
}

.darkGreen{
    background-color: #7cba01;
}



.filterTitle{
    width : 80%;
    border-bottom: 2px solid #000;
    margin: 20px auto 0px auto;
    text-align: center;
}


.heading{
    padding: 20px 20px 0px 20px;
    font-weight: bold;
    text-align: left;
}


@media (min-width: 701px) {
  .column {
    --width-tablet: var(--width-mobile);
    --width: var(--width-tablet);
  }

    .filterOption{width: 30%;}
    .card{width: 47%; height: calc(100vh/1.35);}
}

@media (min-width: 1025px) {
  .column {
    --width-desktop: var(--width-tablet);
    --width: var(--width-desktop);
  }
  .filterOption{width: 30%;}
  .card{width: 23%; height: calc(100vh/1.5);}
}


/* sections */

.header {
  --width-mobile: 12;
  background-color:#f2f2f2;
  padding: 10px;
  font-weight: bold;
  text-align: left;
  font-size: 1.4rem;
}

.content {
  --width-mobile: 12;
  --width-tablet: 8;
  --width-desktop: 9;
  height: max-content;
  text-align: left;
}

.sidebar {
  --width-mobile: 12;
   --width-tablet: 4;
  --width-desktop: 3;
  height: max-content;
}

.footer{
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  margin: 0 auto;
  width: 100%;
}
